body {background-color: #acaf7e}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
h1 {font-family: 'Montserrat', sans-serif; color: black}
h2 {font-family: 'Montserrat', sans-serif; color: black}
h3 {font-family: 'Montserrat', sans-serif; color: black}


:link{font-family: 'Montserrat', sans-serif; color: black; text-decoration: none;}

:visited{color:darkgreen}
dl{font-family: sans-serif;; color: black}

img{width:100%;}
